<!DOCTYPE html>
<html>
<head>
	<title>Casino</title>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>
<body>
	<h1>Casino De La Sintra</h1>
	<hr />
	<%= yield %>
</body>
<footer>
<hr />
	<a href="/">Casino Home</a>
	<a href="/slots">Slots</a>
	<a href="/numberguess">Number Guess</a>
</footer>
</html>