<!DOCTYPE html>
<html>
<head>
	<title>Casino</title>
	<link href="stylesheets/styles.css" rel="stylesheet">
</head>
<body>
	<h1>Casino De La Sinatra</h1>
	<hr />
	<%= yield %>
</body>
<footer>
<hr />
	<a href="/">Casino Home</a>
	<a href="/slots">Slots</a>
	<a href="/numberguess">Number Guess</a>
</footer>
</html>