<body>
  <span>
    <h2>Welcome to Slots!</h2>
    <h3>Place a bet and spin.</h3>
  </span>

  <span class id='bet_and_spin'>
    <form action='/games/slots/spin', method="POST">
    Bet Amount: <input type="number" name="bet" value="10">
    <input type="submit" value="Spin">
    </form> 
  </span>
