body{
  background-color:#6EF582;
  background-image: url(http://img0.gtsstatic.com/wallpapers/76edd999337a51e906012e89781bc8a5_large.jpeg);
  background-position: center;
  background-size: 100%;
  color: white;
}

h1{
  text-align: center;
}

footer {
  text-align: center;
}