body{
<<<<<<< HEAD
  background-color:#928884;
=======
  background-color:#6EF582;
>>>>>>> 654f863b48638b3ac47ca91bf0c3509e51fdf589
  background-image: url(http://img0.gtsstatic.com/wallpapers/76edd999337a51e906012e89781bc8a5_large.jpeg);
  background-position: center;
  background-size: 100%;
  color: white;
}

h1{
  text-align: center;
}

footer {
  text-align: center;
}